body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100dvh;
}

header {
    background-color: red;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

.workout {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.workout img {
    width: px;
    height: 150px;
    border-radius: 8px;
    margin-right: 1rem;
}

.description {
    max-width: 600px;
}

footer {
    background-color:red;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.info{
    color: red;
    text-decoration: underline;
}