body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;
  background-image: url(pic/victor-freitas-WvDYdXDzkhs-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.form-container {
  border-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  color: whitesmoke;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #218838;
}
.form-title{
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}